.contact_box{
  height: 100px;
}

h4{
    color: #ffff;
}

form{
    background-image: url(../../../assets/images/background.jpg);
}

img{
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}