<div class="container py-5">
    <form method="post" class="shadow p-4 m-3 rounded">
        <h4 class="fw-bolder text-center mb-5">Prendre Contact</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <input type="name" name="name" required class="form-control shadow" placeholder="Nom et Prénom">
                </div>
                <div class="mb-3">
                    <input type="name" name="name" required class="form-control shadow" placeholder="Adress Email">
                </div>
                <div class="mb-3">
                    <input type="name" name="name" required class="form-control shadow" placeholder="Votre Message ici...">
                </div>
                <button style="width:100%" name="submit" type="submit" class="btn btn-light">Envoyer</button>
            </div>
            <div class="col-sm-6 text-center">
                <div class="row text-center">
                    <div class="col-md-12 d-lg-block d-none text-center mb-5">
                        <img src="../../../assets/images/sandwish.jpg" width="300px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
