<div class="menu">
    <div class="titre_content">
        <img src="../../../assets/images/pepper.png" width="30px" alt="">
        <p class="titre">Notre Menu</p>
        <img src="../../../assets/images/pepper.png" width="30px" alt="">
    </div>
    <div>
        <p class="name_menu">Nos Fajitas</p>
        <div class="row m-5 text-center">
            <div class="col-lg-4" *ngFor="let item of item">
                <img src="../../../assets/images/sandwish.jpg" width="300px" alt="">
                <p class="name">Trio Fajitas</p>
                <p class="prix">49,90 DT</p>
            </div>
        </div>
        <p class="voir text-center">voir plus</p>
    </div>
</div>