<div class="home p-2">
    <div>
        <img src="../../../assets/images/pepper.png" width="50px" alt="">
        <span class="lettre">S</span>
    </div>
    <div class="mx-5 mt-5 py-2 d-flex gap-5">
        <div class="image">
            <img src="../../../assets/images/sandwish.jpg" alt="">
        </div>
        <div class="text">
            <div>
                <p class="titre">Chili's Tunisie</p>
                <p class="paragraph">
                    Découvrez les
                    meilleures recettes
                    syriennes
                </p>
                <div class="d-flex gap-5">
                    <a href="#interne">
                    <button class="button" >
                            Voir notre menu</button>
                        </a>
                    <span>
                        <p class="circle3"></p>
                    </span>
                    <span>
                        <p class="circle4"></p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="circle_height d-flex">
        <div class="circle"></div>
        <div class="circle2"></div>
    </div>
</div>
<div id="interne">
    <app-menu-component ></app-menu-component>
</div>
<app-contact-component></app-contact-component>